* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'f1';
    src: url(../font/coquettec.ttf);
}

@font-face {
    font-family: 'f2';
    src: url(../font/majestic-x.ttf);
}

@font-face {
    font-family: 'f3';
    src: url(font/mr_hanginglettersg.otf);
}

@font-face {
    font-family: 'f4';
    src: url(../font/snowcapcyr.otf);
}

@font-face {
    font-family: 'f5';
    src: url(font/smudgers.ttf);
}

body {
    background-image: url(../img/2.jpg);
}

#container {
    width: 350px;
    border: 1px solid white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 1fr;
    border-radius: 7px;
}

#container div {
    border: 1px dotted gray;
    overflow: hidden;
}

#container div img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 35px white;
    cursor: pointer;
    transition: 0.7s;
}

#container div img:hover {
    transform: scale(1.1, 1.1);
    transform: 1s;
}

#container div {
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: f4;
    font-weight: 900;
}